<!-- menu settings script -->
<script src="./js/nav-menu.js"></script>

<header class="bg-slate-600 py-4 px-8 flex justify-center z-50">
  <div class="container mx-0 md:mx-auto flex justify-between items-center">
    <a href="/" class="text-3xl font-semibold font-Poppins text-white"
      >Vote<span class="text-sky-400 italic">EASE</span></a
    >

    <nav class="flex items-center">
      <button onclick="menuSettings(event)" id="menu-btn" class="z-50">
        <span class="material-symbols-outlined text-white md:hidden">
          menu
        </span>
      </button>

      <!-- header link area -->
      <div
        id="menu"
        class="fixed -right-80 top-0 pt-[4.25rem] z-40 flex h-screen flex-col bg-slate-700 duration-300 shadow-2xl shadow-purple-500/50 hover:shadow-emerald-500/50 md:relative md:right-0 md:h-auto md:flex-row md:bg-transparent md:pt-0"
      >
        <a
          href="/about"
          class="px-6 py-3 w-72 md:hover:bg-transparent md:hover:text-cyan-400 font-semibold text-white md:my-0 md:w-auto md:px-4 md:py-0 hover:bg-purple-500"
          >About</a
        >

        <a
          href="/#pricing"
          class="px-6 py-3 w-72 md:hover:bg-transparent md:hover:text-cyan-400 font-semibold text-white md:my-0 md:w-auto md:px-4 md:py-0 hover:bg-purple-500"
          >Pricing</a
        >

        <a
          href="/privacy"
          class="px-6 py-3 w-72 md:hover:bg-transparent md:hover:text-cyan-400 font-semibold text-white md:my-0 md:w-auto md:px-4 md:py-0 hover:bg-purple-500"
          >Privacy</a
        >

        <a
          href="/contact"
          class="px-6 py-3 w-72 md:hover:bg-transparent md:hover:text-cyan-400 font-semibold text-white md:my-0 md:w-auto md:px-4 md:py-0 hover:bg-purple-500"
          >Contact</a
        >

        <a
          href="/faq"
          class="px-6 py-3 w-72 md:hover:bg-transparent md:hover:text-cyan-400 font-semibold text-white md:my-0 md:w-auto md:px-4 md:py-0 hover:bg-purple-500"
          >FAQ</a
        >

        <a
          href="/login"
          class="px-6 py-3 w-72 md:hover:bg-transparent md:hover:text-emerald-400 font-semibold text-white hover:bg-green-600 md:my-0 md:w-auto md:px-4 md:py-0"
          >Login</a
        >
      </div>
    </nav>
  </div>
</header>
