<!-- menu settings script -->
<script src="./js/nav-menu.js"></script>

<header class="bg-purple-500 py-4 px-8 flex justify-center">
  <div class="container mx-0 md:mx-auto flex justify-between items-center">
    <h1 class="text-3xl font-bold text-white">VoteEASE</h1>
    <nav class="flex items-center">
      <button onclick="menuSettings(event)" id="menu-btn" class="z-50">
        <span class="material-symbols-outlined text-white md:hidden">
          menu
        </span>
      </button>

      <!-- header link area -->
      <div
        id="menu"
        class="fixed -right-80 top-0 z-40 flex h-screen flex-col bg-slate-700 pe-4 ps-3 pt-10 duration-300 shadow-2xl shadow-purple-500/50 hover:shadow-emerald-500/50 md:relative md:right-0 md:h-auto md:flex-row md:bg-transparent md:pt-0"
      >
        <a
          href="#"
          class="mx-4 my-3 w-60 font-semibold text-white hover:text-green-300 md:my-0 md:w-auto"
          >About</a
        >

        <a
          href="#"
          class="mx-4 my-3 w-60 font-semibold text-white hover:text-green-300 md:my-0 md:w-auto"
          >Voting Process</a
        >

        <a
          href="#"
          class="mx-4 my-3 w-60 font-semibold text-white hover:text-green-300 md:my-0 md:w-auto"
          >Pricing</a
        >

        <a
          href="#"
          class="mx-4 my-3 w-60 font-semibold text-white hover:text-green-300 md:my-0 md:w-auto"
          >Contact</a
        >

        <a
          href="#"
          class="mx-4 my-3 w-60 font-semibold text-white hover:text-green-300 md:my-0 md:w-auto"
          >FAQ</a
        >
      </div>
    </nav>
  </div>
</header>
